.squirt-blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px); 
}

.obscure {
  background-color: rgba(255, 255, 255, .8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999;
}

.squirt-modal {
  position: fixed;
  left: 0;
  top: 30%;
  width: 100%;
  height: 399px;

  font-size: 3em;
  background-color: #F6F6F6;
  color: #333;

  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,.4);
  z-index: 99999999999999999999999;
}

.word-port {
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.word-center {
  position: absolute;
  left: 35%;
  top: 34%;
  height: 100%
}

.focus-indicator {
  border-left: 1px solid rgba(0,0,0, .4);
  position: absolute;
  width: 1px;
  display: block;
  height: 100%;
  top: -34%;
  border-color: rgba(0,0,0, .2);
}

.controls {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 40%;
  text-align: center;
  color: rgba(0,0,0, .4);
  font-weight: bold;
  position: absolute;
  left: 80%;
  height: 100%;
  width: 20%;
  top: 0;
}

.control {
  cursor: pointer;
  margin: 0;
  background-color: rgba(255, 255, 255, .8);
  height: 130px;
  margin-bottom: 3px;
}

.control:hover {
  background-color: rgba(255, 255, 255, 1);
}

.control:active {
  background-color: rgba(255, 255, 255, .6);
}

.controls a, select{
  text-decoration: none;
  color: inherit;
  display:block;
  margin: 57px auto;
  cursor: pointer;
}

.wpm-selector {
  height: 100%;
  position: absolute;
  top:0;
  left: -400%;
  width: 401%;
}

.wpm-option {
  margin: 0 .5% .5% 0;
  width: 32.75%; 
  height: 32.7%;
  float: left;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.wpm-option:hover, .wpm-option:active {
  background-color: #EFEFEF;
}

.wpm-option a {
  margin: 22.3% auto;
  pointer-events: none;
  font-size: 1.4em;
}

.control.wpm div{
  font-size: .8em;
}

.orp{
  color: rgb(238, 69, 69);
}

.word{
  position: absolute;
  font-size: 1.2em;
  background-color: #F6F6F6;
  padding: 15px;
}

/* Mobile */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation: landscape){
 .squirt-modal {
   border-radius: 0;
   width: 100%;
   height: 80%;
   top: 20%;
   left: 0;
 } 

 .control {
   height: 32.3%;
 }

 .wpm-option {
   height: 32.3%;
 }
}